{
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "compiler": "0.8.19",
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "trailingComma": "none"
      }
    }
  ]
}
