TESTNET_PROVIDER_URL='https://arbitrum-goerli.public.blastapi.io'
TESTNET_PRIVATE_KEY='REPLACEME'
NOVA_PROVIDER_URL='https://nova.arbitrum.io/rpc'
NOVA_PRIVATE_KEY='REPLACEME'
MAINNET_PROVIDER_URL='https://nova.arbitrum.io/rpc'
MAINNET_PRIVATE_KEY='REPLACEME'
GOERLI_PROVIDER_URL='https://nova.arbitrum.io/rpc'
GOERLI_PRIVATE_KEY='REPLACEME'
ARBGOERLI_PROVIDER_URL='https://nova.arbitrum.io/rpc'
ARBGOERLI_PRIVATE_KEY='REPLACEME'
