@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Sequel-Sans-Light-Body";
    src: url('https://res.cloudinary.com/aniket98571/raw/upload/v1718084418/Sequel-Sans-_Light-Body-v2_imnbkt.ttf');
    /*https://res.cloudinary.com/aniket98571/raw/upload/v1717580903/Sequel-Sans-Light-Body_d83yzy.ttf*/
}
@font-face {
    font-family: "Sequel-Sans-Medium-Head";
    src: url('https://res.cloudinary.com/aniket98571/raw/upload/v1718084418/Sequel-Sans-_Medium-_Head-v2_uzcvcq.ttf');
    font-display: swap;
    /*https://res.cloudinary.com/aniket98571/raw/upload/v1717580903/Sequel-Sans-Medium-Head_umakd5.ttf*/
}
@font-face {
    font-family: "Geist-SemiBold";
    src: url('https://res.cloudinary.com/aniket98571/raw/upload/v1715256918/Geist-SemiBold_h3w290.ttf');
    font-display: swap;
    /*https://res.cloudinary.com/aniket98571/raw/upload/v1715256918/Geist-SemiBold_h3w290.ttf*/
}
@font-face {
    font-family: "Geist-Regular";
    src: url('https://res.cloudinary.com/aniket98571/raw/upload/v1715232194/Geist-Regular_vvwe3i.ttf');
    font-display: swap;
    /*https://res.cloudinary.com/aniket98571/raw/upload/v1715232194/Geist-Regular_vvwe3i.ttf*/
}
@font-face {
    font-family: "AtHaussAero-Light";
    src: url('https://res.cloudinary.com/aniket98571/raw/upload/v1717580903/AtHaussAero-Light_iwko9o.ttf');
    font-display: swap;
    /*https://res.cloudinary.com/aniket98571/raw/upload/v1717580903/AtHaussAero-Light_iwko9o.ttf*/
}
*{
    margin: 0;
    padding: 0;
}
.fade-container>div{
    white-space:pre!important;
}
.marquee-shadow{
    box-shadow:  0px 0px 14px rgba(178, 94, 210, 0.3);
}
.footer-icons-shadow{
    filter: drop-shadow(0px 0px 8.5px rgba(18, 0, 115, 0.2));
}
.footer-icons-shadow:hover img{
    filter: brightness(0) invert(1);
}
@media(max-width:1023px) {
    .fade-container>div{
        white-space: normal!important;
    }
    .MarqueeContainer{
         gap: var(--gap);
    }
}

/* Header styles */
.background-gradient{
    background: linear-gradient(180deg, #4A28FF 16.5%, #9ED6FF 100%);
}
.header-gradient{
    background: linear-gradient(180deg, #FBFBFB 70.03%, #4A28FF 330.54%);
}
.no-bg{
    background: unset;
}
.image-white{
    filter: brightness(0) invert(1);
}
#menu.open #menu-bar1 {
    transform: rotate(-45deg) translate(0px, 6px);
}
#menu.open #menu-bar2 {
    opacity: 0;
}
#menu.open #menu-bar3 {
    transform: rotate(45deg) translate(0px, -7px);
}
@layer components {
    .link-block > div{
        @apply cursor-pointer;
    }
    .link-block .link-with-image .link{
        @apply flex items-center text-original-black lg:text-subtext-three;
    }
    .link-block .link-with-image .ext-link{
        @apply w-[20px] h-[auto] lg:h-[10px] lg:w-[auto] ml-[3px];
    }
    .link-with-image .staking{
        @apply gap-[10px] absolute ml-[-50%];
    }
    .link-with-image .staking-block{
        @apply flex flex-col gap-[50px] items-start lg:bg-[white] w-[170px] h-[250px] p-[20px_10px] lg:hover-bg-image drop-shadow-xl;
    }
    .link-with-image .staking-block div:nth-child(2){
        @apply font-medium text-[black] text-[16px] font-Sequel-Sans-Medium-Head;
    }
    .link-with-image .staking-block div:nth-child(3){
        @apply text-[11px] font-Geist-SemiBold text-footer-text;
    }
    .hover-bg-image:hover {
        @apply background-gradient; /* Apply the custom background image class on hover */
    }
    .hover-bg-image:hover div:nth-child(2){
        @apply text-[white];
    }
    .hover-bg-image:hover div:nth-child(3){
        @apply text-[white];
    }
    .hover-bg-image:hover img{
        @apply image-white;
    }
    .fixed-element{
        @apply fixed header-gradient h-[100%] top-[64px] right-[0px] z-[999] transition-all duration-300 overflow-hidden lg:overflow-visible;
    }
    .no-fixed-element{
        @apply relative bg-[unset] no-bg h-[auto] w-[auto] top-[unset] left-[unset] z-[0];
    }
    .link-with-image .ext-link.mobile-height{
        @apply h-[15px];
    }
    .links-parent a{
        @apply w-[100%];
    }

    @media(max-width: 1024px){
        .link-with-image .staking-block{
            @apply w-[100%] flex-row h-[auto] drop-shadow-none justify-start items-center gap-[10px];
        }
        .link-with-image .staking-block div:nth-child(3){
            @apply hidden;
        }
        .links-parent > div{
            @apply w-[100%];
        }
        .item{
            @apply pl-[5%];
        }
        .link-block .link-with-image .link{
            @apply pl-[5%];
        }
        .link-with-image .staking-block{
            @apply pl-[5%];
        }
    }

}
/* Header styles */

/* Partners styles */
@layer components {
    .ArbiusPartners div img{
        @apply h-[30px] w-[auto] cursor-pointer;
    }
    .ArbiusPartners div img.arbitrum{
        @apply h-[35px];
    }
    .ArbiusPartners div img.weboasis{
        @apply h-[40px] mt-[3px];
    }
    .ArbiusPartners div img.exabits{
        @apply h-[23px];
    }
    .ArbiusPartners div img.coinex{
        @apply h-[28px];
    }
    .ArbiusPartners div img.nosana{
        @apply h-[25px];
    }

}
/* Partners styles */


/* Models styles */
.gradient-border {
    border-image: linear-gradient(90deg, #4A28FF 16.5%, #9ED6FF 100%) 1;
}
.model-image-gradient{
    background: linear-gradient(78.34deg, rgba(146, 189, 255, 0.02) -6.48%, rgba(81, 54, 255, 0.1) 45.24%, rgba(212, 179, 255, 0.2) 106.31%);
}
@layer components{
    .model-items > div{
        @apply p-[10px_0px] text-center border-b border-[#E1E1E7] flex-grow;
    }
    .all-models > div{
        @apply cursor-pointer text-[17px] flex-1 pb-[20px] text-subtext-two font-At-Hauss;
    }
    .all-models > .selected{
        @apply text-blue-text border-b-[2px] gradient-border;
    }
}
/* Models styles */
.model-container {
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}  
.model-container.fade-in {
    opacity: 1;
    animation:fade-in 500ms ease-in-out forwards
}
.CollaboratorsMarquee{
    background-color: var(--home-page-background);
    --gap: 20px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    /* padding-bottom: 130px; */
    max-width: var(--max-width-container);
    width: 100%;
    margin: auto;
}
.MarqueeContainer {
    /*white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    display: flex;
    width: 100%;
    scroll-snap-type: repeat;
    scroll-behavior: linear;
    justify-content: space-between;*/
    animation: marquee 30s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    gap: var(--gap);
}
.PartnersMarqueeContainer{
    animation: marquee 55s linear infinite;
    animation-play-state: running;
}
.CollaboratorsMarquee:hover .PartnersMarqueeContainer{
    animation-play-state: paused;
}
  
.MarqueeContainer .ImageItem img{
    height: 40px;
    filter: var(--collaborators-logo-filter);
}
  
@keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}
.Item{
    width: 250px;
}
.MarqueeContainer .ImageItem img{
    height: auto;
    width: 100%;
    object-fit: cover;
    /* filter: var(--collaborators-logo-filter); */
}
.Gradient-transparent-text{
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
   -webkit-background-clip: text;
}


.gradient-header-bg{
    background:  linear-gradient(180deg, #FBFBFB 70.03%, #4A28FF 330.54%);
}