@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Sequel-Sans-Light-Body";
    src: url('../app/assets/fonts/Sequel-Sans-Light-Body.ttf');
}
@font-face {
    font-family: "Sequel-Sans-Medium-Head";
    src: url('../app/assets/fonts/Sequel-Sans-Medium-Head.ttf');
}
@font-face {
    font-family: "Geist-SemiBold";
    src: url('../app/assets/fonts/Geist-SemiBold.ttf');
}
@font-face {
    font-family: "Geist-Regular";
    src: url('../app/assets/fonts/Geist-Regular.ttf');
}
@font-face {
    font-family: "AtHaussAero-Light";
    src: url('../app/assets/fonts/AtHaussAero-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
}

/* Header styles */
.background-gradient{
    background: linear-gradient(180deg, #4A28FF 16.5%, #9ED6FF 100%);
}
.header-gradient{
    background: linear-gradient(180deg, #FBFBFB 70.03%, #4A28FF 330.54%);
}
.no-bg{
    background: unset;
}
.image-white{
    filter: brightness(0) invert(1);
}
#menu.open #menu-bar1 {
    transform: rotate(-45deg) translate(0px, 6px);
}
#menu.open #menu-bar2 {
    opacity: 0;
}
#menu.open #menu-bar3 {
    transform: rotate(45deg) translate(0px, -7px);
}
@layer components {
    .link-block > div{
        @apply cursor-pointer;
    }
    .link-block .link-with-image .link{
        @apply flex items-center text-original-black lg:text-subtext-three;
    }
    .link-block .link-with-image .ext-link{
        @apply h-[10px] w-[auto] ml-[3px];
    }
    .link-with-image .staking{
        @apply gap-[10px] absolute ml-[-50%];
    }
    .link-with-image .staking-block{
        @apply flex flex-col justify-around items-start bg-[white] w-[170px] h-[250px] p-[20px_10px] hover-bg-image drop-shadow-xl;
    }
    .link-with-image .staking-block div:nth-child(2){
        @apply font-medium text-[black] text-[16px] font-Sequel-Sans-Medium-Head;
    }
    .link-with-image .staking-block div:nth-child(3){
        @apply text-[11px] font-Geist-SemiBold text-footer-text;
    }
    .hover-bg-image:hover {
        @apply background-gradient; /* Apply the custom background image class on hover */
    }
    .hover-bg-image:hover div:nth-child(2){
        @apply text-[white];
    }
    .hover-bg-image:hover div:nth-child(3){
        @apply text-[white];
    }
    .hover-bg-image:hover img{
        @apply image-white;
    }
    .fixed-element{
        @apply fixed header-gradient h-[100%] w-[100%] top-[80px] left-[0px] z-[999];
    }
    .no-fixed-element{
        @apply relative bg-[unset] no-bg h-[auto] w-[auto] top-[unset] left-[unset] z-[0];
    }
    .link-with-image .ext-link.mobile-height{
        @apply h-[15px];
    }

    @media(max-width: 1024px){
        .link-with-image .staking-block{
            @apply w-[100%] flex-row h-[auto] drop-shadow-none justify-start items-center gap-[10px];
        }
        .link-with-image .staking-block div:nth-child(3){
            @apply hidden;
        }
        .links-parent > div{
            @apply w-[100%];
        }
        .links-parent{
            @apply pl-[5%];
        }
    }

}
/* Header styles */

/* Partners styles */
@layer components {
    .ArbiusPartners div img{
        @apply h-[30px] w-[auto];
    }
}
/* Partners styles */


/* Models styles */
.gradient-border {
    border-image: linear-gradient(90deg, #4A28FF 16.5%, #9ED6FF 100%) 1;
}
.model-image-gradient{
    background: linear-gradient(78.34deg, rgba(146, 189, 255, 0.02) -6.48%, rgba(81, 54, 255, 0.1) 45.24%, rgba(212, 179, 255, 0.2) 106.31%);
}
@layer components{
    .model-items > div{
        @apply p-[10px_0px] text-center border-b border-[#E1E1E7] flex-grow;
    }
    .all-models > div{
        @apply cursor-pointer text-[14px] flex-1 pb-[20px] text-subtext-two font-At-Hauss;
    }
    .all-models > .selected{
        @apply text-blue-text border-b-[2px] gradient-border;
    }
}
/* Models styles */

.CollaboratorsMarquee{
    background-color: var(--home-page-background);
    --gap: 20px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    /* padding-bottom: 130px; */
    max-width: var(--max-width-container);
    width: 100%;
    margin: auto;
  }
  .MarqueeContainer {
    /*white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    display: flex;
    width: 100%;
    scroll-snap-type: repeat;
    scroll-behavior: linear;
    justify-content: space-between;*/
    animation: marquee 30s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    /* gap: var(--gap); */
  }
  
  .MarqueeContainer .ImageItem img{
    height: 40px;
    filter: var(--collaborators-logo-filter);
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  .Item{
    width: 250px;
  }
  .MarqueeContainer .ImageItem img{
    height: auto;
    width: 100%;
    object-fit: cover;
    /* filter: var(--collaborators-logo-filter); */
  }
  .Gradient-transparent-text{
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
   -webkit-background-clip: text;
  }
