NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=''
NEXT_PUBLIC_ETHERSCAN_APIKEY=''

NEXT_PUBLIC_CHAINID='42170'
NEXT_PUBLIC_ETH_CHAINID='1'
NEXT_PUBLIC_RPC_URL='https://nova.arbitrum.io/rpc'

# for running locally
# NEXT_PUBLIC_CHAINID='31337'
# NEXT_PUBLIC_RPC_URL='http://127.0.0.1:8545'

NEXT_PUBLIC_IPFS_GATEWAY_CSTR='http://127.0.0.1:8080/ipfs/%C'
NEXT_PUBLIC_IPFS_GATEWAY_FSTR='http://127.0.0.1:8080/%C/%F'
